<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitschool.gaverything.CalendarMapper">
	<insert id="insert" parameterType="com.bitschool.dto.CalendarDTO">
		<selectKey keyProperty="calendarseq" order="BEFORE" resultType="Integer">
			select calendar_seq.nextval from dual
		</selectKey>
		insert into calendar(calendarseq,id,dogid,title,place,message,startTime,
		startDate,endTime,endDate,repeatdata,repeatview) 
		values (#{calendarseq},#{id},#{dogid},#{title},#{place},#{message},#{startTime},
		#{startDate},#{endTime},#{endDate},#{repeatdata},#{repeatview})
	</insert>
	<insert id="insert2" parameterType="com.bitschool.dto.CalendarDTO">
		<selectKey keyProperty="calendarseq" order="BEFORE" resultType="Integer">
			select calendar_seq.nextval from dual
		</selectKey>
		insert into calendar(calendarseq,id,dogid,title,place,startTime,
		startDate,endTime,endDate,locationseq) 
		values (#{calendarseq},#{id},#{dogid},#{title},#{place},#{startTime},
		#{startDate},#{endTime},#{endDate},#{locationseq})
	</insert>
	<select id="selectId" parameterType="String" resultType="com.bitschool.dto.CalendarDTO">
		select * from calendar where id = #{id}
	</select>
	<select id="selectAll" resultType="com.bitschool.dto.CalendarDTO">
		select * from calendar
	</select>
	<select id="select" parameterType="Integer" resultType="com.bitschool.dto.CalendarDTO">
		select * from calendar where calendarseq = #{seq}
	</select>
	<update id="modify" parameterType="CalendarDTO">
		update calendar set dogid = #{dogid}, title = #{title}, place = #{place},
		message = #{message}, startTime = #{startTime}, endTime = #{endTime},
		endDate = #{endDate}, repeatdata = #{repeatdata}, repeatview = #{repeatview}
		where calendarseq = #{calendarseq}
	</update>
	<delete id="delete" parameterType="Integer">
		delete from calendar where calendarseq = #{calendarseq}
	</delete>
</mapper>
