<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.bitschool.gaverything.GradeMapper">
 	<insert id="insertNew" parameterType="GradeDTO">
		<selectKey keyProperty="gradeSeq" order="BEFORE" resultType="Integer">
			select grade_seq.nextval from dual
		</selectKey>
		insert into grade (gradeSeq,nickname) values(#{gradeSeq},#{nickname})
 	</insert>  

  	<insert id="insertInfo" parameterType="GradeDTO">
  		<selectKey keyProperty="gradeSeq" order="BEFORE" resultType="Integer">
			select grade_seq.nextval from dual
		</selectKey>
  		insert into grade (gradeSeq,nickname,type,point) 
  		values(#{gradeSeq},#{nickname},#{type},#{point})
  	</insert> 
  	
  	<!-- 한개 삭제  -->
  	<delete id="deleteInfo" parameterType="GradeDTO">
  		delete from grade where gradeSeq = 
		(select gradeSeq from 
		(select rownum as num, a.* from 
		(select * from grade 
		where nickname = #{nickname} and type = #{type} 
		order by gradeseq desc) a) b 
		where num = 1)
  	</delete>
  	
  	<!-- total 계산 -->
  	<update id="updateTotal" parameterType="String">
  		update grade set total = (select sum(point) from grade where nickname= #{nickname}) where nickname=#{nickname}
  	</update>
  	
  	<!-- gradename 계산 -->
  	<update id="updateGrade1">
  		update grade set gradename = 'D' where total between 0 and 30
  	</update>
  	<update id="updateGrade2">
		update grade set gradename = 'C' where total between 31 and 70
  	</update>
  	<update id="updateGrade3">
		update grade set gradename = 'B' where total between 71 and 120
  	</update>
  	<update id="updateGrade4">
		update grade set gradename = 'A' where total >= 121
  	</update>
  	
  	<!-- 회원 grade 기록 가져오기 -->
  	<select id="selectGradeInfo" parameterType="String" resultType="GradeDTO">
  		select * from grade where nickname = #{nickname} order by gradeseq desc
  	</select>
  	
  	
 
 </mapper>