<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitschool.bootstrap.LocationMapper">
	<insert id="insert" parameterType="LocationDTO">
		<selectKey resultType="Integer" order="BEFORE" keyProperty="locationSeq">
			select location_seq.nextval from dual
		</selectKey>
		insert into location(
		locationSeq,
		relatedPlaceCount,
		zipcode,
		relatedplace,
		distance,
		direction,
		placeUrl,
		categoryCode,
		loccategory,
		newAddress,
		title,
		locid,
		phone,
		imageUrl,
		address,
		addressBCode,
		longitude,
		latitude
		) values(#{locationSeq},
		#{relatedPlaceCount},
		#{zipcode},
		#{replacePlace},
		#{distance},
		#{direction},
		#{placeUrl},
		#{categoryCode},
		#{locCategory},
		#{newAddress},
		#{title},
		#{locId},
		#{phone},
		#{imageUrl},
		#{address},
		#{addressBCode},
		#{longitude},
		#{latitude})
	</insert>
	
	<select id="selectAll" resultType="LocationDTO">
		select * from location 
	</select>
	
	<select id="selectMapData" resultType="LocationDTO" parameterType="String">
		select * from location where title like '%'||#{searchWord}||'%'
	</select>
	
	<select id="selectEventData" resultType="EventDTO" parameterType="String">
		select * from event where eventname like '%'||#{searchWord}||'%'
	</select>
	
	<select id="selectCategory" parameterType="Integer" resultType="LocationDTO">
		select * from location where categorycode = #{categories} and locationSeq = #{locationSeq}
   	</select>
   	
   	<select id="selectLocationSeq" parameterType="Integer" resultType="LocationDTO">
		select * from location where locationSeq = #{locationSeq}
   	</select>


</mapper>
